@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap/bootstrap-responsive.min.css");
@import url("bootstrap/bootstrap-maxwidth-960.css");
@import url("fancybox/fancybox.css");

::-moz-selection {
	background: #FEF68E;
 	color: #444;
 	text-shadow: none;
}
::selection {
 	background: #FEF68E;
 	color: #444;
 	text-shadow: none;
}
html {
 	overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	cursor: default;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
  background-image: 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  	color: #474747;
  	font-weight: 700;
  	line-height: 1.25;
  	margin: 0 0 20px 0;
}
h3,
h4,
h5 {
  	font-weight: 600;
  	margin: 0 0 10px 0;
}
h1 {
  	color: #E84E39;
  	font-size: 2em;
}
h2 {
  	font-size: 1.7em;
}
h3 {
 	font-size: 1.4em;
}
h4 {
  	margin: 0 0 20px 0;
  	text-transform: uppercase;
  	font-weight: 200;
  	color: #555;
}
a {
  	color: #0088cc;
  	text-decoration: none;
}
a:hover {
  	color: #005580;
  	text-decoration: underline;
}
hr {
  	background: url(../img/hr.png) repeat-x;
  	border: none;
  	height: 10px;
}
header {
  	margin: 0 0 60px 0;
}
section {
  	margin: 0;
  	padding: 30px 0!important;
}
section:nth-child(odd) {
  	background: #fafafa;
  	box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.02);
  	border: 1px solid #eee;
}
/* --------------------------------------------------------	*/
/*	Footer */
/* --------------------------------------------------------	*/
footer {
  	background: #f6f6f6;
  	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  	border-top: 1px solid #e6e6e6;
	  font-size: 1.2em;
	  line-height: 1.7em;
	  padding: 36px 0 24px 0;
	  color: #888;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
footer .brand {
  	font-size: 20px;
  	line-height: 1em;
  	display: inline;
  	letter-spacing: -1px;
  	vertical-align: top;
}
/* --------------------------------------------------------	*/
/*	Navigation */
/* --------------------------------------------------------	*/
.navbar {
  	padding-top: 0px;
  	margin: 0;
}
.social-icons {
  	position: absolute;
  	top: 6px;
  	right: 0;
}
.social-icons a {
  	margin: 0 6px 0 0;
}
.navbar .container {
  	width: 940px;
  	position: relative;
  	padding-bottom: 0px;
  	border-bottom: 0px solid #eee;
  	margin-bottom: 0px;
}
.navbar-inner {
  	background: transparent!important;
  	background: #fff!important;
  	background-image: none!important;
  	padding: 19px 0;
  	filter: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-o-box-shadow: none;
 	box-shadow: none;
}
.navbar .nav-responsive {
  	display: none;
  	padding: 4px;
}
.navbar .brand,
.brand {
  	font-weight: bold;
  	font-size: 36px;
  	letter-spacing: -2px;
  	line-height: 0.7em;
  	color: #000;
  	display: block;
  	-webkit-transition: all 0.2s ease-out;
  	-moz-transition: all 0.2s ease-out;
  	-ms-transition: all 0.2s ease-out;
  	-o-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}
.slash {
  	color: #E84E39;
}
.navbar .brand:hover {
  	color: #e84e39;
}
.navbar .nav > li:hover {
  	border-bottom: 1px solid #ccc;
}
.navbar .nav > li.active a,
.navbar .nav > li.active:hover a {
  	background: none;
  	box-shadow: none;
}
.navbar .nav > li.active:hover > a {
  	background: none;
  	font-weight: bold;
  	font-weight: normal;
  	color: #000;
}
.navbar .nav > li {
  	margin: 4px 0 0 10px;
  	position: relative;
}
.navbar .nav > li a,
.navbar .nav > li a:hover {
  	text-decoration: none;
}
.navbar .nav > li > a {
  	color: #444!important;
  	font-size: 1.1em;
  	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.navbar .nav > li > a:hover {
  	color: #222;
}
.navbar li a {
  	display: block!important;
}
/* -------------------------------------------------------- */
/*  Tabs */
/* -------------------------------------------------------- */
.nav-tabs {
    padding-left: 3px;
}
.nav-tabs > li {
    margin-left: -3px;
}
.nav-tabs > li > a {
    border-radius: 0;
    border: 1px solid #ccc;
    background: #f6f6f6;
    color: #222;
}
.nav-tabs > li.active > a {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000000;
}
.nav-tabs > li:hover > a {
    background: #eee;
    color: #000;
    border: 1px solid #ccc;
}
.tab-content {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
    margin-top: -20px;
    padding: 20px;
    background: white;
}
/* ---------------------------------------------------------------------- */
/*  Tables
/* ---------------------------------------------------------------------- */
table {
    color: #444;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}
table thead tr {
    border: 0;
}
table thead th {
    background: #eee;
    font-weight: 600;
    text-align: left;
    color: #222;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(bottom, #f2f2f2 46%, #fafafa 92%);
    background-image: -o-linear-gradient(bottom, #f2f2f2 46%, #fafafa 92%);
    background-image: -moz-linear-gradient(bottom, #f2f2f2 46%, #fafafa 92%);
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 46%, #fafafa 92%);
    background-image: -ms-linear-gradient(bottom, #f2f2f2 46%, #fafafa 92%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.46, #f2f2f2), color-stop(0.92, #fafafa));
}
table td {
    padding: 4px 10px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
table tr:last-child td {
    border-bottom: 1px solid #ccc;
}
table tr:nth-child(even) td {
    background: #fafafa;
}
table tr:hover td {
    background: #EAF5FA;
}
/* --------------------------------------------------------	*/
/*	Pricing/Packages */
/* --------------------------------------------------------	*/
.pricing ul {
  	list-style-type: none;
  	margin: 0 0 20px 0;
}
.pricing ul li {
  	border-bottom: 1px solid #eee;
  	padding: 4px 0px;
  	font-size: 1.1em;
  	color: #222;
}
.pricing .plan {
  	position: relative;
  	color: #666;
  	overflow: hidden;
  	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.pricing .plan p {
  	font-size: 11px;
  	margin-top: 20px;
    text
}
.pricing .well {
  	background: #fff;
  	border: 1px solid #ddd;
  	margin-top: 0;
  	margin-bottom: 0;
  	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  	-webkit-border-radius: 0 0 3px 3px;
  	-moz-border-radius: 0 0 3px 3px;
  	border-radius: 0 0 3px 3px;
  	-webkit-background-clip: padding-box;
  	-moz-background-clip: padding;
  	background-clip: padding-box;
}
.pricing .title {
  	font-size: 20px;
  	line-height: 1.5em;
  	margin: 0;
  	padding: 6px 20px;
  	background: #fff;
 	border: 1px solid #ddd;
 	font-weight: 300;
	color: #222;
 	-webkit-border-radius: 3px 3px 0 0;
 	-moz-border-radius: 3px 3px 0 0;
  	border-radius: 3px 3px 0 0;
  	-webkit-background-clip: padding-box;
  	-moz-background-clip: padding;
  	background-clip: padding-box;
}
.pricing .price {
  	margin: 0;
  	padding: 8px 20px;
  	color: #fff;
  	font-weight: 400;
  	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  	font-size: 24px;
}
.pricing .plan.green .price {
  	background: #9ec2d0;
}
.pricing .plan.blue .price {
  	background: #6c8658;
}
.pricing .plan.red .price {
  	background: #e84e39;
}
.pricing .plan.grey .price {
  	background: #3b2e2c;
}
.pricing .guarantee {
  	font-size: 1.2em;
  	font-weight: 200;
  	text-align: center;
  	padding: 20px 0 0;
  	color: #aaa;
}
/* -------------------------------------------------------- */
/*	Form Shit
/* -------------------------------------------------------- */
label {
  	cursor: pointer;
  	display: block;
  	margin: 0 0 5px;
}
input,
textarea,
select,
input[type=text],
input[type=email],
input[type=search],
input[type=password] {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  color: #8f8f8f;
  padding: 5px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
textarea {
  padding: 10px;
  resize: both;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #dedede;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #ccc;
}
select,
option {
  cursor: pointer;
  padding: 5px 7px;
}
select {
  display: block;
  width: 232px;
  margin: 0;
  background: url(../img/select-box.png) #ffffff right center no-repeat;
  line-height: 1.1em;
  cursor: pointer;
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:hover {
  border: 1px solid #bbb;
}
input[type="checkbox"],
input[type="radio"] {
  width: 20px;
}
/* Fix for Mobile Safari */
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
/* Placeholder */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaa;
}
/* --------------------------------------------------------	*/
/*	Alerts
/* --------------------------------------------------------	*/
.alert,
.alert-warning {
  background: #FFF7D6;
}
.alert-success {
  background: #EDFDD3;
}
.alert-info {
  background: #D6F5FC;
}
.alert-danger,
.alert-error {
  background: #FFE6E3;
}
/* --------------------------------------------------------	*/
/*	Button */
/* --------------------------------------------------------	*/
.button {
  	color: #ffffff !important;
  	text-decoration: none!important;
  	text-align: center;
  	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
  	font-size: 13px;
  	outline: none;
  	padding: 7px 13px;
  	border: 1px solid #625853 !important;
  	background: #6a5f5a;
  	background: -webkit-gradient(linear, left top, left bottom, from(#867871), to(#6a5f5a));
  	background: -webkit-linear-gradient(top, #867871, #6a5f5a);
  	background: -moz-linear-gradient(top, #867871, #6a5f5a);
  	background: -ms-linear-gradient(top, #867871, #6a5f5a);
  	background: -o-linear-gradient(top, #867871, #6a5f5a);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  	cursor: pointer;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-background-clip: padding-box;
  	-moz-background-clip: padding;
  	background-clip: padding-box;
  	-webkit-transition: background 0.1s ease-out;
  	-moz-transition: background 0.1s ease-out;
  	-ms-transition: background 0.1s ease-out;
  	-o-transition: background 0.1s ease-out;
  	transition: background 0.1s ease-out;
}
.button:hover {
  	background: #5c534e;
  	background: -webkit-gradient(linear, left top, left bottom, from(#867871), to(#5c534e));
  	background: -webkit-linear-gradient(top, #867871, #5c534e);
  	background: -moz-linear-gradient(top, #867871, #5c534e);
  	background: -ms-linear-gradient(top, #867871, #5c534e);
  	background: -o-linear-gradient(top, #867871, #5c534e);
  	border: 1px solid #4e4643;
}
.button:active {
  	background: #867871;
  	background: -webkit-gradient(linear, left top, left bottom, from(#6a5f5a), to(#867871));
  	background: -webkit-linear-gradient(top, #6a5f5a, #867871);
  	background: -moz-linear-gradient(top, #6a5f5a, #867871);
  	background: -ms-linear-gradient(top, #6a5f5a, #867871);
  	background: -o-linear-gradient(top, #6a5f5a, #867871);
}
.button.small {
  	font-size: 12px;
  	padding: 4px 10px;
}
/* --------------------------------------------------------	*/
/*	Ribbon */
/* --------------------------------------------------------	*/
.ribbon {
	margin: 0px;
}
.ribbon span {
	position: absolute;
	display: inline-block;
	top: 22px; /* check */
	right: -25px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	padding: 3px 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	background: #5d5a5a;
	-webkit-box-shadow: '0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30 px rgba(255,255,255,0.2)';
	-mox-box-shadow: '0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30 px rgba(255,255,255,0.2)';
	-o-box-shadow: '0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30 px rgba(255,255,255,0.2)';
	box-shadow: '0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30 px rgba(255,255,255,0.2)';
}
.ribbon.alt span{
	background: #EDFDD3;
	color: #222;
}
.ie .ribbon{
	display: none!important;
}
/* --------------------------------------------------------	*/
/*	Classes */
/* --------------------------------------------------------	*/
.fr{
	float: right;
}
.fl{
	float: left;
}
.ac{
	text-align: center;
}
.al{
	text-align: left;
}
.clr{
	clear: both;
}
.hidden{
	display: none;
}
.grey{
	color: #999999;
}
.show{
	display: block;
}
.unstyled{
	list-style-type: none;
	margin: 0;
}
.no-border {
  	border: none!important;
}
.no-background {
  	background: none;
}
.gradient {
  	background: #A0DBE8;
  	background-image: linear-gradient(100 100, #a0dbe8 10%, #83b7e0 55%);
  	background-image: -o-linear-gradient(100 100, #a0dbe8 10%, #83b7e0 55%);
  	background-image: -moz-linear-gradient(left, #a0dbe8 10%, #83b7e0 78%);
  	background-image: -webkit-linear-gradient(100 100, #a0dbe8 10%, #83b7e0 55%);
  	background-image: -ms-linear-gradient(100 100, #a0dbe8 10%, #83b7e0 55%);
  	background-image: -webkit-gradient(linear, 100 100, 200 200, color-stop(0.1, #a0dbe8), color-stop(0.55, #83b7e0));
}
.inline {
  	display: inline;
}
.inline-block {
  	display: inline-block;
}
.uc {
  	text-transform: uppercase;
}
.stacked {
  	-webkit-box-shadow: 0 5px 0 -4px #ffffff, 0 5px 0 -3px #c2c0b8, 0 11px 0 -8px #ffffff, 0 11px 0 -7px #c2c0b8, 0 17px 0 -12px #ffffff, 0 17px 0 -11px #c2c0b8 !important;
  	-moz-box-shadow: 0 5px 0 -4px #ffffff, 0 5px 0 -3px #c2c0b8, 0 11px 0 -8px #ffffff, 0 11px 0 -7px #c2c0b8, 0 17px 0 -12px #ffffff, 0 17px 0 -11px #c2c0b8 !important;
  	box-shadow: 0 5px 0 -4px #ffffff, 0 5px 0 -3px #c2c0b8, 0 11px 0 -8px #ffffff, 0 11px 0 -7px #c2c0b8, 0 17px 0 -12px #ffffff, 0 17px 0 -11px #c2c0b8 !important;
}
/*
  Rules for resolutions between 768 and 979px
*/
@media (max-width: 979px) and (min-width: 768px) {
  
}
/*
  Rules for resolutions below 768px
*/
@media (max-width: 767px) {
  section {
    margin-bottom: 10px;
  }
  footer div {
    text-align: left!important;
  }
}
/* --------------------------------------------------------  */
/*  Thumbnails */
/* -------------------------------------------------------- */
.thumbnail {
  position: relative;
  background: #fff;
  overflow: hidden;
  border-radius: 0;

}
.thumbnail img {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.thumbnail:hover img {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
  filter: alpha(opacity = (80));
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
a.thumbnail:hover {
  border-color: #AAD3E5;
}
